.bg-primary-home {
  background-color: var(--tc-primary-home) !important;
}

.ft-bgr-primary {
  background-color: var(--tc-primary-home) !important;
}

.footer-style-14.bg-primary-home {
  .box-contact-phone-2 {
    background-color: rgba(255, 255, 255, 0.1);
  }
}